{{-- 
        
                <li class="sidebar-title">Dữ liệu đa dạng sinh học</li>
        
                <li class="sidebar-item has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-pen-fill"></i>
                        <span>Sự đa dạng các hệ sinh thái</span>
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item">
                            <a href="{{ route('dulieudadangsinhhoc.phanloaihesinhthai') }}">Phân loại hệ sinh thái</a>
                        </li>
                        <li class="submenu-item">
                            <a href="{{ route('dulieudadangsinhhoc.hesinhthai') }}">Hệ sinh thái  </a>
                        </li>
                        <li class="submenu-item">
                            <a href="{{ route('dulieudadangsinhhoc.hesinhthairungtrencan') }}">Hệ sinh thái rừng trên cạn</a>
                        </li>
                        <li class="submenu-item">
                            <a href="{{ route('dulieudadangsinhhoc.hesinhthaicotrangcaybui') }}">Hệ sinh thái trảng cỏ, cây bụi</a>
                        </li>
                        <li class="submenu-item">
                            <a href="{{ route('dulieudadangsinhhoc.hesinhthaidatngapnuoc') }}">Hệ sinh thái đất ngập nước</a>
                        </li>
                        <li class="submenu-item">
                            <a href="{{ route('dulieudadangsinhhoc.hesinhthaidancunongnghiep') }}">Hệ sinh thái khu dân cư đô thị, dân cư nông thôn, nông nghiệp</a>
                        </li>
                        <li class="submenu-item">
                            <a href="{{ route('dulieudadangsinhhoc.dichvuhesinhthai') }}">Dịch vụ hệ sinh thái</a>
                        </li>
                    </ul>
                </li>
        
                <li class="sidebar-item has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-pentagon-fill"></i>
                        <span>Danh lục IUCN, công ước Cites, sách đỏ việt nam 2007, NĐ 06, NĐ 64</span>
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item">
                            <a href="{{ route('dulieudadangsinhhoc.danhluciucn') }}">Tình trạng đe dọa theo danh lục IUCN</a>
                        </li>
                        <li class="submenu-item">
                            <a href="{{ route('dulieudadangsinhhoc.phulucconguoccites') }}">Tình trạng đe dọa theo phụ lục công ước cites</a>
                        </li>
                        <li class="submenu-item">
                            <a href="{{ route('dulieudadangsinhhoc.sachdovietnam') }}">Tình trạng đe dọa theo sách đỏ Việt Nam</a>
                        </li>
                        <li class="submenu-item">
                            <a href="{{ route('dulieudadangsinhhoc.nghidinh') }}">Tình trạng đe dọa theo nghị định</a>
                        </li>
                    </ul>
                </li> --}}



                {{-- <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.gioi') }}">Giới</a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.nganh') }}">Ngành</a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.lop') }}">Lớp</a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.bo') }}">Bộ  </a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.ho') }}">Họ</a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.chi') }}">Chi</a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.loai') }}">Loài</a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.duoiloai') }}">Dưới loài</a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.dongdanh') }}">Đồng danh</a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.phanloaihoc') }}">Phân loại học</a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.bosungphanloaihoc') }}">Thông tin bổ sung phân loại học</a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.hinhanhloai') }}">Hình ảnh loài</a>
                </li>
                <li class="submenu-item">
                    <a href="{{ route('dulieudadangsinhhoc.phathienloai') }}">Phát hiện loài</a>
                </li> --}}